<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" #mainNav
(scroll)="onScroll($event)">
  <a class="navbar-brand" href="#">
    Key & Mantle
  </a>

  <button class="navbar-toggler" type="button"
  (click)="this.toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
  [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#about" (click)="this.toggleNavbar()">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#projects" (click)="this.toggleNavbar()">Apply</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#maintenance" (click)="this.toggleNavbar()">Maintenance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#signup" (click)="this.toggleNavbar()">Contact</a>
      </li>
    </ul>
  </div>
</nav>